In [1]:
# data types


# ints vs. floats

c = 7
d = 7.0

print(c, d)

7 7.0

In [2]:
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>

In [3]:
for i in range(0,c):
    print(i)

0
1
2
3
4
5
6

In [4]:
#for i in range(0,d):
#   print(i)

#This will throw an error because d is floating datatype

In [5]:
print(c + 7) #output int
print(c + d) #output float
print(c * d)   #output floating, because one value is floating
print('Mike' * 3) #the string will be multiplied by 3

14
14.0
49.0
MikeMikeMike

In [6]:
%whos # list all variables and their types

No variables match your requested type.

In [7]:
# convert across datatypes
s1 = '4'
s2 = '4.7'
n1 = 5
n2 = 5.8

#convert the string to int

s1str = int(s1)
print(type(s1str))

#convert string to float

s2str = float(s2)
print(type(s2str))


#convert numbers into strings

n1str = str(n1)
print(type(n1str))

n2str = str(n2)
print(type(n2str))


#converting float to int .8 is lost because is truncated DATA LOST!

print(int(n2))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
5